<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar> -->
  </ion-header>
  <div id="container">
    <br>
    <br>
    <br>
    <img src="../assets/img/prop 2.png" width="270px" height="280px">
    <br>
    <!-- <br>
    <div style="text-align:center">
      <span class="dot" style="height: 15px; width: 15px;background-color: #5ba1c7; margin-right:10px; border-radius: 50%;display: inline-block;"></span>
      <span class="dot" style="height: 15px; width: 15px;background-color: #5ba1c7; margin-right:10px; border-radius: 50%;display: inline-block;"></span>
      <span class="dot" style="height: 15px; width: 15px;background-color: #1e4b94; margin-right:10px; border-radius: 50%;display: inline-block;"></span>
    </div>
    <br>
    <br> -->
    <strong><p style="color:#1e4b94;font-size:40px;">Let's Start</p></strong>
    <br>
    <p style="color:#3f4652;">A lot of mental health</p>
    <p style="color:#3f4652;">related games some text</p>
    <br>
    <button ion-button round style="border-radius:29px;background-color:#00dae3;width:170px;height:60px;color:white;font-size:18px">START</button>
    <br>
    <!-- <button ion-button round style="background-color:white;width:170px;height:60px;color:#3f4652;font-size:18px">Skip</button> -->
    <br>
    <br>
    <p style="color:#3f4652;">Have an account? <a style="color:#00dae3">Log In</a></p>
  </div>
</ion-content>
